
.rowContainer {
    display: flex;
    align-items: center;
    max-width: 25em;
    //margin: .2em;
    padding: .5em;
    border-width: 1px;
    background: #F1F1F1;
    border: 1px solid #ccc;
}

.icon {
    margin-right: 1em;
}

.label {
    display: inline-block;
    min-width: 15em;
    margin-right: .5em;
}

.value {
    margin-right: .2em;
}

.descriptor {
    font-size: .8em,
}

@media (max-width: 480px) {    
    .currentTotal {
        display: block;
    }    
}
